.box {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #3838FF;
}

.box:hover {
    background-color: #00D1AE;
    width: 200px;
    height: 200px;
     /* transition-property: width;
    transition-duration: 1s;
    transition-timing-function:linear;
    transition-delay: 1s; */
    /* transition: width 2s ease-in 1s, height 4s, background-color 6s; */
    transition: width 2s ease-in 1s, height 4s, background-color 6s, transform 2s;
    transform: rotate(180deg);
}

p {
  max-width: 700px;
  font-family: Arial;
}