* {
  box-sizing: border-box;
  margin: 20;
  padding: 0;
}

.firstDiv {
  width: 300px;
  border: 2px solid;
}

.firstDiv :nth-child(1){
  text-align: justify;
  margin-right: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.firstDiv div {
  background-color: blueviolet;
  color: whitesmoke;
  margin-left: 10px;
  
  padding-left: 5px;
  margin-right: 50px;
}


.secondDiv {
  width: 300px;
  border: 2px solid;
  margin-top: 20px;
}

.secondDiv div {
  background-color: blueviolet;
  color: whitesmoke; 
}

.secondDiv :nth-child(1){
  text-align: right;
  padding-right: 5px;
  margin: 10px 0px 0px 100px;
}

.secondDiv :nth-child(2){
  text-align: right;
  padding-right: 5px;
/*
  margin-right: 200px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 10px;
  */
  margin: 0px 200px 0px 10px;
}
