.container {
    margin: 20px 0 0 20px;
    display: flex;
  }
  
  .circle {
    background: #456789;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
  }
  .square {
    background: #456789;
    height: 30px;
    width: 30px;
    margin: 10px;
  }
  .triangle {
    margin: 10px;
    border-style: solid;
    border-color: transparent transparent #456789 transparent;
    border-width: 0 20px 30px 20px;
  }