/*
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*/
.orangeRow {
  width:300px;
  background-color: #600613;
  display: flex;
}

.orangeRow div {
  color: whitesmoke;
  width: 25%;
  font-size: 25px;
  flex-direction: row;
  justify-content: center;
}

.greenRow {
  width:300px;
  background-color: black;
  display: flex;
}

.greenRow div {
  color: whitesmoke;
  width: 25%;
  font-size: 25px;
  flex-direction: row;
  justify-content: center;
}